<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title Document
		style.
			*{
				box-sizing: border-box;
			}
			table,tr,td{
				border-collapse:collapse;
			}
			td{
				border: solid 1px black;
				margin: 0;
			}
	body
		table
			tr
				td=name
				td 1
				td 2
				td 3
				td 4
				td 5
				td 6
				td 7
				td 8
				td 9
				td 0
			tr
				td=sub
				td=task1
				td=task2
				td=task3
				td=task4
				td=task5
				td=task6
				td=task7
				td=task8
				td=task9
				td=task0